Validation: Invalid Entities return a 422 WebDAV status code

Unprocessable Entity (422) is part of the WebDAV protocol/extension, from what I can tell (http://www.iana.org/assignments/http-status-codes/http-status-codes.xhtml), and not technically an HTTP status code.

I believe this should simply be a 400 (Bad Request) -- http://www.w3.org/Protocols/rfc2616/rfc2616-sec6.html#sec6.1.1

What are the disadvantages of returning a WebDAV protocol/extension? The convention has been to return 422 when the request body may contain syntactically valid data, but semantically invalid data.

On the flip-side, as a comparison, [Jersey only returns a 400 or 500 if an error happens](https://jersey.java.net/documentation/latest/bean-validation.html#d0e13800). If we went with this approach, there is the potential to break clients who became accustomed to the 422 status code. 

I'm not sure how to put it besides one is valid HTTP, and the other is not -- at the very least this needs to be configurable. Many front-end libraries and HTTP clients aren't prepared to handle 422, considering the wider HTTP ecosystem.

For instance, many JavaScript developers who'd consume this API often refer to https://developer.mozilla.org/en-US/docs/Web/HTTP/Response_codes, http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html, etc... At least for me, all the top google hits for HTTP status codes don't even mention 422.

We're attempting to transition to a HTTP Hypermedia API, being compliant with HTTP is that much harder.

Fundamentally, this issue far broader than Dropwizard. Any other client (JavaScript library/framework, whatever), that does conform now may need tweaking because of non-compliance.

As for migrating old clients, simply providing migration notes, and a configurable fallback to old behaviour (to be remove in the next major version) should be sufficient.

Good points. I would also like to raise a couple of more things I've found:

- A fairly [lucid stackoverflow answer](http://stackoverflow.com/a/20215807/433785) pointing out our exact discussion, pointing out that the spec defines a 400 to mean syntactically invalid data whereas.
- Some of the largest Hypermedia APIs ([Github](https://developer.github.com/v3/#client-errors), [Twitter](https://dev.twitter.com/overview/api/response-codes), Facebook (iirc, can't check now)) use status code 422 for invalid entities.

However, I found some evidence supporting the move to 400:

- [HTTPbis](http://tools.ietf.org/html/draft-ietf-httpbis-p2-semantics-26#section-6.5.1) defines `400 Bad Request` as :

> indicates that the server cannot or will not process the request due to something which is perceived to be a client error

- Thus, in this instance, an invalid entity would be a 400 response 

I think I just talked myself into a circle and this has been inconclusive, but informative :smile:


This is the worst, and now I'm in a circle too.

* I think 422 is wrong, because it's not HTTP
* I think 400 isn't quite right because it's referring to syntax

Also this is the latest version of the [RFC](http://tools.ietf.org/html/rfc7231#section-6.5.1) you linked earlier, in which case they made it less semantics.

In regards to the SO post, Kristian quoted the WebDAV Protocol intro
```
While the status codes provided by HTTP/1.1 are sufficient to describe most error
conditions encountered by WebDAV methods, there are some errors that do not
fall neatly into the existing categories. This specification defines extra status 
codes developed for WebDAV methods (Section 11)
```
As it says, "WebDAV methods", and as per the first sentence makes a clear delineation between it and HTTP 1.1.

I'm leaning towards 400, but not by much. I think it makes the most amount of sense making it a configurable thing, I have no clue what the default should be, the two things I'd be thinking about:

* Leave it as 422 for compatibility -- and might become a defacto standard
* Move to 400 for HTTP 1.1 compliance, and let people consciously break it

Very informative discussion. I would lean towards 400 for the reasons listed above

I personally more lean to 422. Despite that it's not defined in RFC 7231, it's widely used and adopted by many clients and intermediaries. Also it's more specific then a fairly general 400 error. If I get 422 error, I know that the server comprehended my request, but rejected it. It gives me knowledge, that I didn't make a stupid error like sending invalid JSON.

My $0.02 CDN would be to preserve the current behavior (return 422) and
provide a configuration flag for strict spec conformance (return 400). That
way we keep doing what we've always done so we don't break our existing
consumers (preserve backwards compatibility) but we also provide the
ability for people to deal with less flexible clients/consumers. Just a
thought.


On Tue, Jun 23, 2015 at 3:27 AM Artem Prigoda <notifications@github.com>
wrote:

> I personally more lean to 422. Despite that it's not defined in RFC 7231,
> it's widely used and adopted by many clients and intermediaries. Also it's
> more specific then a fairly general 400 error. If I get 422 error, I know
> that the server comprehended my request, but rejected it. It gives me
> knowledge, that I didn't make a stupid error like sending invalid JSON.
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/dropwizard/dropwizard/issues/1117#issuecomment-114389740>
> .
>


I agree with @glennmcallister.  Preserve the current behavior (422) and use a config flag for a 400.

Are there any real-world problems with the 422 status code that would justify breaking backwards-compatibility with older versions or add a maintenance-"tax" to Dropwizard?

That's a fair question. Saem's point is that there are clients out there
that aren't necessarily going to be able to deal with 422.

> Many front-end libraries and HTTP clients aren't prepared to handle 422,
considering the wider HTTP ecosystem.

That being said, this is the first issue (to my knowledge) we've received
about this specific point. And the first google hit it got on 'http 422'
was a stackoverflow question on this very subject, and the accepted answer
said (in short) "use 422, not 400".

#shrug

Actually, I'm starting to take issue with saying 422 isn't a valid HTTP
code:
http://www.iana.org/assignments/http-status-codes/http-status-codes.xhtml

Section 11 of RFC4918 clearly states they are added to the complete set of
valid HTTP codes:

 The following status codes are added to those defined in HTTP/1.1
   [RFC2616 <http://tools.ietf.org/html/rfc2616>].


So... what's the problem?


On Tue, Jun 23, 2015 at 12:55 PM Jochen Schalanda <notifications@github.com>
wrote:

> Are there any real-world problems with the 422 status code that would
> justify breaking backwards-compatibility with older versions or add a
> maintenance-"tax" to Dropwizard?
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/dropwizard/dropwizard/issues/1117#issuecomment-114571788>
> .
>


Even if 422 remains the dropwizard default, and there is a configuration to go the other way that's workable.

@glennmcallister 

In regards to the [Stack Overflow post](http://stackoverflow.com/questions/16133923/400-vs-422-response-to-post-of-data/20215807#20215807). One person, who didn't know the answer in the first place, hitting accept on a SO post hardly constitutes a strong argument, if at all a data point. As for the answer itself, as @nickbabcock points out it's not out right unreasonable. That being said, if you look at the part of the WebDAV spec (not HTTP) he quotes, it clearly states "While the status codes provided by HTTP/1.1 are sufficient to describe most error conditions encountered by *WebDAV methods*, there are some errors that do not fall neatly into the existing categories. This specification defines extra status codes developed for *WebDAV methods* (Section 11)". Emphasis added is my own, but to be clear that entire RFC is not the protocol most are working with. I would ask that we stop referencing a non-HTTP RFC as if it is.

422 is not valid HTTP, you're pointing to a list of registered codes, I believe the intention is to avoid collisions across protocols that are a super set of HTTP, the same as say internet socket port number registration done by IANA.

Specifically, in regards to Section 11 of RFC4918, what you are quoting is out of context:

```
11.  Status Code Extensions to HTTP/1.1

   The following status codes are added to those defined in HTTP/1.1
   [RFC2616].
```

The title clearly states that these are extensions, within a document that clearly states it's for a different protocol (WebDAV).

As I pointed out earlier, except for Google not knowing the difference, and an apocryphal answer on SO, can we not reference an RFC for a protocol (WebDAV) that the vast majority aren't concerned with, and stick to HTTP?

Respectfully, WebDAV is an extension to the HTTP protocol. You are trying
to make out that WebDAV is something other than HTTP. It's not. It's an
accepted RFC by the IETF.

At this point, I'm bowing out of the discussion.

On Tue, Jun 23, 2015 at 2:20 PM Saem Ghani <notifications@github.com> wrote:

> Even if 422 remains the dropwizard default, and there is a configuration
> to go the other way that's workable.
>
> @glennmcallister <https://github.com/glennmcallister>
>
> In regards to the Stack Overflow post
> <http://stackoverflow.com/questions/16133923/400-vs-422-response-to-post-of-data/20215807#20215807>.
> One person, who didn't know the answer in the first place, hitting accept
> on a SO post hardly constitutes a strong argument, if at all a data point.
> As for the answer itself, as @nickbabcock <https://github.com/nickbabcock>
> points out it's not out right unreasonable. That being said, if you look at
> the part of the WebDAV spec (not HTTP) he quotes, it clearly states "While
> the status codes provided by HTTP/1.1 are sufficient to describe most error
> conditions encountered by *WebDAV methods*, there are some errors that do
> not fall neatly into the existing categories. This specification defines
> extra status codes developed for *WebDAV methods* (Section 11)". Emphasis
> added is my own, but to be clear that entire RFC is not the protocol most
> are working with. I would ask that we stop referenc ing a non-HTTP RFC as
> if it is.
>
> 422 is not valid HTTP, you're pointing to a list of registered codes, I
> believe the intention is to avoid collisions across protocols that are a
> super set of HTTP, the same as say internet socket port number registration
> done by IANA.
>
> Specifically, in regards to Section 11 of RFC4918, what you are quoting is
> out of context:
>
> 11.  Status Code Extensions to HTTP/1.1
>
>    The following status codes are added to those defined in HTTP/1.1
>    [RFC2616].
>
> The title clearly states that these are extensions, within a document that
> clearly states it's for a different protocol (WebDAV).
>
> As I pointed out earlier, except for Google not knowing the difference,
> and an apocryphal answer on SO, can we not reference an RFC for a protocol
> (WebDAV) that the vast majority aren't concerned with, and stick to HTTP?
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/dropwizard/dropwizard/issues/1117#issuecomment-114597013>
> .
>


> Even if 422 remains the dropwizard default, and there is a configuration to go the other way that's workable.

But we would still need to implement, test, and maintain that code.

The question I have is if there are any actual problems with the 422 status code or if it is just a theoretical problem that never happens in the real world (as any sane HTTP client should handle the whole 4xx range and not just some specific/hand-picked status codes).

I haven't seen any client having problems with the 422 status code yet. So I'm voting for closing this issue as "won't fix".

As a user I vote "won't fix" as well. It's been the default behavior for years now. I could make an argument that any client that doesn't support 422 should.

@joschi @JonMR I think this got lost in the discussion but this is a bit forward looking, specifically at hypermedia. I agree, within the context of an "old school" API where the client has to know much more about how the server behaves and has lots of specialized logic then yeah, no big deal.

In our particular scenario we were going to have 400 return a response entity with a "remediation" rel, that would allow the client to fix say a missing pre-requisite. For example, it tries to send a pre-formatted email, but the specific template for that doesn't exist, the system can return a 400, and a body containing an error code, and remediation rel allowing you to create the required template. My concern is that yeah, currently the http library (angular) we're using is workable, I'm concerned that as we deal with other clients that aren't so forgiving, we'll be stuck. That will be an awkward migration.

Since there hasn't been any new argument for this change within 2 weeks, I'm closing this issue now.